html
  head
    title Failed to Authenticate
    meta(name='description', content='Authentication Failure')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/public/style.css')
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  body
    div(class="container-fluid")
      h2.center Failed to Authenticate User
      p Invalid Username or Password
      a(href='/') Return to Login